@model IEnumerable<Projekt.ViewModel.CommentVm>
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function CRateOut(rating) { 
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'glyphicon glyphicon-star-empty');
        }
    }
    function CRateOver(rating) {
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'glyphicon glyphicon-star');
        }
    }
    function CRateClick(rating) {
        $("#1blRating").val(rating);
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'glyphicon glyphicon-star');
        }

        for (var i = rating + 1; i <= 5; i++) {
            $("#span" + i).attr('class', 'glyphicon glyphicon-star-empty');
        }
    }
    function CRateSelected() {
        var rating = $("#1blRating").val();
        for (var i = ; i <= rating; i++) {
            $("#span" + i).attr('class', 'glyphicon glyphicon-star'); 
        }
    }
    function VerifyRating() {
        var rating = $("#1blRating").val();
        if (rating == 0) {
            alert("Please select rating.");
            return false;
        }
    }
</script>

<h2>Komentarze</h2>
@foreach (var item in Model)
{
    <partial>
        @Html.Partial("CommentPartial", item)
    </partial>
}
<body>
<h3>Dodaj Komentarz</h3>

@using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new{onsubmit = "return VerifyRating()"}))
{
    <textarea rows="6", cols="50" name="Description" id="txtDescription"></textarea>

    <div>
        <label for="rating">
                Wybierz ocene kierowcy:
        </label>

        <select name="rating" id ="driverId">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
        </select>
    </div>
    <div>
        <input type="hidden" name="driverId" id="1blRating" value="@ViewBag.DriverId" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary active" name="Zapisz komentarz" value="Zapisz Komentarz"/>
    </div>
}
</body>
