@page
@model Projekt.Pages.Wyświetlanie_ocenyModel
@{
    <div id="container" style="border: 1px solid black; width: 300px; padding: 2px">

        <table>

            <tr>
                <td valign="top">
                    Rating:

                </td>
                <td>

                    <ej-rating id="Rating" value="4" />

                </td>

            </tr>

        </table>

    </div>
}
